html{
  padding:0;
  margin:0;
}
body{
  padding:0;
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  hyphens: auto;
  overflow-wrap: break-word;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
}
a {
  text-decoration: none;
}
#l{
  display:none;
}
#pg {
  display: grid;
  padding:5px;
  grid-template-rows:41px calc( 100dvh - 51px );
  grid-template-columns: calc ( 100dvw - 20px );
}
#legal_writing{
  display:none;
  grid-row:2;
  grid-column:1;
}
#map{
  grid-row:2;
  grid-column:1;
  overflow:hidden; 
}
#map svg{
  width:100%;
  height:100%;
}
#key td{
  border: 2px solid;
  padding:7px;
}
#key table{
  border: 2px solid;
  border-collapse: collapse;
}
#key{
  grid-row:2;
  grid-column:1;
  font-size:20px;
  padding:10px;
  display:none;
}
#heading {
  display:flex;
  grid-row:1;
  grid-column:1;
  gap:3px;
  align-items:flex-start;
  justify-content: center;
}
#heading svg:hover{
  cursor: pointer;
  background-color: yellow;
}
#heading img:hover,.emo:hover, .emo img:hover{
  cursor: pointer;
  background-color: yellow;
}